<section class="section">
  <img class="logo_big" src="/images/cc-logo-big.svg" alt="logo" />
  <div
    #title
    class="main_text_container flex flex-col items-center leading-none"
  >
    <p
      class="text-red text-[5rem] text-center uppercase text-nowrap mb:text-wrap mb:text-5xl"
    >
      never <span>settle</span>
    </p>
    <p
      class="text-red text-[5rem] text-center uppercase flex w-fit gap-7 mb:flex-col mb:items-center mb:gap-0 mb:text-5xl"
    >
      <span>for </span>less
      <img
        class="w-[3.4375rem] aspect-square mb:mt-3 mb:w-[2.4375rem]"
        src="/icons/play-icon.svg"
        alt="icon"
      />
    </p>
  </div>
</section>
