<section class="pt-[11.5625rem] mb:pt-24 px-4">
  <div #title class="flex flex-col gap-7 items-center mb-9">
    <div class="">
      <p class="title">GeT your</p>
      <p class="title text-red">citizen zero</p>
    </div>
    <p class="description max-w-[32.0625rem] mb:text-left">
      Attain the founders’ privilege with the sinister presence of the Citizen
      Zero; a dark magnificence embodied, $QORPO airdrop granted.
    </p>
    <a class="btn_main" href="">
      <span>buy now</span>
    </a>
  </div>
  <div #banner class="w-full h-[88dvh] overflow-hidden relative mb:h-[45dvh]">
    <img
      class="block object-cover w-full h-full"
      src="/images/home-page/citizen-zero-bg.png"
      alt="citizen-zero"
    />
    <div class="radial_gradient h-full w-full absolute inset-0"></div>
  </div>
</section>
