<header
  #header
  class="flex justify-between items-center w-full px-9 py-7 absolute top-0 z-50 translate-y-[-100%]"
>
  <a href="" class="mb:hidden">
    <div class="flex items-center gap-[0.6875rem]">
      <p class="text-base uppercase">play now</p>
      <img class="w-3 aspect-square" src="/icons/link_arrow.svg" alt="icon" />
    </div>
  </a>
  <img
    class="w-[13.73306rem] h-[2.93369rem] mb:hidden"
    src="/images/cc-logo.svg"
    alt="cc-logo"
  />
  <a class="hidden mb:block" href="">
    <img
      class="w-8 aspect-square"
      src="/images/cc-logo-small.svg"
      alt="cc-logo"
    />
  </a>
  <nav class="flex items-center">
    <a class="mr-[2.2rem] mb:hidden" href="">
      <div class="flex items-center gap-[0.6875rem]">
        <p class="text-base uppercase">TOKEN</p>
        <img class="w-3 aspect-square" src="/icons/link_arrow.svg" alt="icon" />
      </div>
    </a>
    <a class="btn_main mb:hidden" href="">
      <span>register</span>
    </a>
    <!-- <button class="w-[2.625rem] h-4 burger_btn">
      <span></span>
      <span></span>
      <span></span>
    </button> -->
  </nav>
</header>
