<section class="pb-44">
  <div class="py-32 px-4 relative mb:py-0">
    <img
      #image1
      class="absolute top-1/2 left-0 translate-x-[-50%] translate-y-[-50%] rotate-45 w-[38.37088rem] mb:top-0 mb:left-1/2 mb:w-[11rem] mb:translate-y-[-72%] z-10"
      src="/images/token.png"
      loading="lazy"
      alt="token"
    />
    <img
      #image2
      class="absolute top-1/2 right-0 translate-x-[50%] translate-y-[-50%] rotate-45 w-[38.37088rem] mb:hidden"
      src="/images/token.png"
      loading="lazy"
      alt="token"
    />
    <div
      #title
      class="relative flex flex-col items-center gap-8 p-[5.31rem] border border-[#ffffff33] max-w-[45.8125rem] mx-auto mb:w-full mb:py-14 mb:px-7"
    >
      <div class="span_corners">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p class="title">
        unified by <br />
        one <span class="text-red">token</span>
      </p>
      <p class="description max-w-[34.0625rem] mb:max-w-full">
        We don’t just build games. We unify the gaming universe. We don’t just
        host tournaments. We democratize gaming under the roof of one token.
        $QORPO is a rendezvous point where all ends of our ecosystem meet.
      </p>
      <a class="btn_main" href="">
        <span class="uppercase">buy now</span>
      </a>
      <div
        class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-4 w-[95%] h-[1px] bg-[#ffffff33]"
      ></div>
      <div
        class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-8 w-[95%] h-[1px] bg-[#ffffff11]"
      ></div>
      <div
        class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-12 w-[95%] h-[1px] bg-[#ffffff05]"
      ></div>
    </div>
  </div>
</section>
