swiper-container {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.pagination_list {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
    margin-bottom: 39px;
    height: 8px;

    li {
      width: 31px;
      height: 100%;
      border: 1px solid white;
      transition: all 220ms ease-in-out;
    }

    .active {
      background-color: #ff0116;
      border: none;
    }
  }
}
