swiper-container {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.pagination_list {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
    margin-top: 21px;

    li {
      width: 13px;
      aspect-ratio: 1/1;
      border: 1px solid var(--yellow-main);
      border-radius: 50%;
    }

    .active {
      background-color: var(--yellow-main);
    }
  }
}
