.btn_main {
  clip-path: polygon(100% 0, 100% 65%, 88% 100%, 0 100%, 0 0);
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  padding: 0.625rem 0.8875rem;
  line-height: 119%;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 0.225rem);
    height: 90%;
    background: black;
    clip-path: polygon(100% 0, 100% 65%, 88% 100%, 0 100%, 0 0);
    z-index: -2;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 95%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 100%;
    background: red;
    z-index: -1;
    transition: bottom 0.3s ease-in-out;
  }

  &:hover {
    &::before {
      bottom: 0%;
    }
  }
}

.btn_red {
  clip-path: polygon(100% 0, 100% 65%, 88% 100%, 0 100%, 0 0);
  background: white;
  position: relative;
  padding: 0.625rem 0.6875rem;
  line-height: 119%;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 90%;
    background: red;
    clip-path: polygon(100% 0, 100% 65%, 88% 100%, 0 100%, 0 0);
    z-index: 1;
  }
  span {
    position: relative;
    z-index: 2;
  }

  &:hover {
  }
}

.title {
  @apply text-[2rem] font-semibold uppercase text-center leading-[119%] mb:text-2xl;
}

.description {
  text-align: center;
  font-family: OpenSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;
}

.radial_gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.side_gradient {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 100%
    );
    @media screen and (max-width: 768px) {
      width: 15%;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 100%
    );
    @media screen and (max-width: 768px) {
      width: 15%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}

.bottom_gradient {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 11rem;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.top_btn_gradient {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 11rem;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 11rem;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
