/* You can add global styles to this file, and also import other style files */
@use "./styles/fonts";
@use "./styles/shared";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "ClashDisplay";
  color: white;
  font-size: calc(16px + (100vw - 1520px) / 110);
  overflow-x: hidden;
  @media (max-width: 756px) {
    font-size: 16px;
  }
}

body {
  background: #000;
  overflow-x: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
